yolo-bib-tag/data
yolo-bib-text/data
*.backup
*.weights
svhn/data
svhn.backup copy
numer-detector/TagNumberGenerator/result
yolo-bib-gen/data
yolo-bib-gen/data_old
yolo-bib-gen/data_2
numer-detector/TagNumberChecker/data
yolo-bib-gen/data_large
